node_modules
vendor

storage/*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

.env
.env.*

.git
.gitignore

.vscode
.idea
.DS_Store
Thumbs.db

npm-debug.log
yarn-error.log

public/storage
public/hot
public/mix-manifest.json
public/css/*.map
public/js/*.map
public/js/chunks/*.map
